<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.\data.db;Version=3;" providerName="System.Data.SqlClient" />
    <add name="Second" connectionString="Data Source=.\data.db;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>